# Copy this file to local.properties and update the path for your machine.
#
# Windows example:
# sdk.dir=C\\:\\Users\\<you>\\AppData\\Local\\Android\\Sdk
#
# macOS example:
# sdk.dir=/Users/<you>/Library/Android/sdk
#
# Linux example:
# sdk.dir=/home/<you>/Android/Sdk

sdk.dir=REPLACE_ME
